/* stilizzazione header */

header {
    background-color: #2d3e50;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    line-height: 72px;
}

.container {
    margin: 0 auto;
}

header a {
    color: white;
    font-weight: 600;
    font-size: 16px;
}

header a:hover {
    text-decoration: none;
    color: #1bbc9b;
}

header a.logo:hover {
    color: white;
}

header .logo {
    font-size: 25px;
}

header ul a {
    padding-left: 10px;
    padding-right: 15px;
}

.row {
    width: 100%;
}

header button {
    color: white;
    background-color: #1bbc9b;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    line-height: 0;
    padding: 15px;
    transform: translateY(15px);
}

header button:hover {
    background-color: #148f77;
}

/* stilizzazione jumbotron */

.jumbotron {
    background-color: #1bbc9b;
    padding-top: 100px;
    color: white;
    padding-bottom: 80px;
}

.jumbotron img {
    width: 250px;
}

h1 {
    font-weight: 600;
}

.jumbotron h4 {
    font-size: 25px;
}

.jumbotron .linea {
    border: 2px solid white;
    width: 100px;
}

.divisore div {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    transform: translateY(-8px);
}

.divisore i {
    font-size: 30px;
}

/* stilizzazione portfolio */

.portfolio {
    color: #2d3e50;
    padding-bottom: 50px;
}

 h2 {
    font-size: 45px;
    font-weight: 600;
}

.divisore {
    padding-bottom: 30px;
    padding-top: 5px;
}

.portfolio .linea {
    border: 2px solid #2d3e50;
    width: 100px;
}

.portfolio .immagine {
    padding-bottom: 30px;
}

/* stilizzazione about */

.about {
    background-color: #1bbc9b;
    padding-top: 50px;
    padding-bottom: 80px;
    color: white;
}

.about .linea {
    border: 2px solid white;
    width: 100px;
}

.about p {
    font-size: 20px;
    padding-bottom: 25px;
}

.about button {
    background-color: #1bbc9b;
    border: 2px solid white;
    padding: 20px 30px;
}

.about button:hover {
    background-color: white;
    color: #2d3e50;
}

/* stilizzazione contact me */

.contact {
    padding-top: 50px;
    padding-bottom: 80px;
    color: #2d3e50;
}

.contact .linea {
    border: 2px solid #2d3e50;
    width: 100px;
}

.contact .divisore {
    padding-bottom: 60px;
}

.contact input {
    font-size: 25px;
    border: none;
    color: #6f747a;
}

.contact button {
    margin-top: 60px;
    color: white;
    background-color: #1bbc9b;
    border: none;
    font-size: 20px;
    padding: 15px 23px;
}

.contact button:hover {
    background-color: #148f77;
    color: white;
}

/* stilizzazione footer */

footer {
    color: white;
    background-color:#2d3e50;
    padding-top: 70px;
}

footer h4 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 23px;
}

.footer-blue button {
    background-color: #2d3e50;
    border-radius: 50%;
    border: 2px solid white;
    padding: 10px 15px;;
    font-size: 20px;
    margin: 10px 4px;
}

.footer-blue .facebook {
    padding: 10px 18px;
}

.footer-blue .linkedin {
    padding: 10px 16px;
}

.footer-blue button:hover {
    background-color: white;
    color: #2d3e50;
}

.copyright {
    background-color: #1b252f;
    padding: 25px 0;
    font-size: 13px;
}

.footer-blue p {
    font-size: 19px;
}

p.under {
    padding: 0 55px;
}

.footer-blue {
    padding-bottom: 60px;
}

footer a {
    color: #1bbc9b;
}

footer a:hover {
    color: #148f77;
}

@media screen and (max-width: 767px) {
    .row {
        margin: 0 auto;
    }
}
